<head>
    <title>Register Member</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <div class="container">
        <h2>AceManager</h2>
        <form method="post" th:object="${member}" th:action="@{/submitMember}">
            <div class="flex-container">
                <div class="left">
                    <span class="error" th:errors="*{firstName}"></span>
                    <input type="text" placeholder="First Name" th:field="*{firstName}">
                    <span class="error" th:errors="*{lastName}"></span>
                    <input type="text" placeholder="Last Name" th:field="*{lastName}">
                    <span class="error" th:errors="*{passport}"></span>
                    <input type="text" placeholder="Passport" th:field="*{passport}">
                    <span class="error" th:errors="*{email}"></span
                        >
                    <input type="text" placeholder="Email" th:field="*{email}">
                    <p style="font-weight: bold;">Date of Birth</p>
                    <span class="error" th:errors="*{birthDate}"></span>
                    <input type="date" th:field="*{birthDate}">
                </div>
                <div class="right">
                    <span class="error" th:errors="*{matriculeAmci}"></span>
                    <input type="text" placeholder="Matricule AMCI" th:field="*{matriculeAmci}">
                    <span class="error" th:errors="*{lastName}"></span>
                    <select name="" id="">
                        <option value="">Choose city</option>
                        <option value="Fes">Fes</option>
                        <option value="Meknes">Meknes</option>
                        <option value="Kenitra">Kenitra</option>
                        <option value="Sale">Sale</option>
                        <option value="Rabat">Rabat</option>
                    </select>
                    <select name="" id="">
                        <option value="">Choose Faculty/School</option>
                        <option value="FS">Faculty of Science</option>
                        <option value="FST">Faculty of Science & Technic</option>
                        <option value="FL">Faculty of Letters</option>
                        <option value="FSJES">Faculty of Economy</option>
                        <option value="ENCG">ENCG</option>
                    </select>
                    <select name="" id="">
                        <option value="">Choose Field</option>
                        <option value="SMA">Applied Science Mathematics</option>
                        <option value="SMI">Computer Science & Mathematics</option>
                        <option value="SMP">Mathematics & Physics</option>
                        <option value="SMC">Chemistery</option>
                    </select> 
                    <select name="" id="" th:field="*{isMember}">
                        <option value="">Is this a Member ?</option>
                        <option th:value="true">Yes</option>
                        <option th:value="false">No</option>
                       </select>
                </div>
            </div>
            <div class="clearfix"></div>
            
            <div class="submit">
                <input type="submit" value="Submit">
            </div>

            <div class="clearfix"></div>

        </form>
    </div>
</body>